*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    padding-left: 60px !important;
}
.carousel-item{
    width: 100%;
}
.nav-item{
    font-weight:bold !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.nav-item{
    font-weight:bold !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.bi{
    font-size: 20px !important;
}
.nav-item{
    font-size: 14px;
    
}
.form-control{
    padding-right: 180px !important;
    
}
.navbar-nav{
    margin-left: 30px !important;
}
/* main */
.home-pic{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding-left:60px ;
    padding-right: 50px;
    margin-top: 20px;
}
.home-pic img{
    width: 100%;
    height: auto;
}


.col-sm-12 ul{
    display:flex;
    flex-wrap: wrap;
    
   

}
.col-sm-12 li{
    padding-right: 10px;
}
.btn{
    background-color: rgb(214, 235, 253) !important;
    color: black;
}

.lifestyle{
    display: inline-block;
    

}
.col-sm-2 h5 , .col-sm-9 h5 , .col-sm h5{
    padding-left: 0px;
}
#h5-content{padding-left: 35px;

}
.lifestyle{
    margin-bottom: 20px; 
}

